<!DOCTYPE html>
<html>
<head>
	<title>tuParroquiaBlog</title>
	<%= favicon_link_tag 'logo.png', rel: 'shortcut icon', type: 'image/x-icon' %>
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/css?family=Trocchi|Raleway" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application' %>
</head>

<body>
	<%#= render 'shared/navbar' %>
	<%= react_component 'Navbar' %>
	<%= yield %>
	<%#= render 'shared/footer' %>
	<%= react_component 'Footer' %>
</body>
</html>
